# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Logs
*.log
tidy_library_log.txt

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
